html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", Helvetica, sans-serif;
  background: #fff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}


/**************************************Pre-loader************************************/
/* @keyframes ldio-rpinwye8j0b {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-rpinwye8j0b div {
  position: absolute;
  animation: ldio-rpinwye8j0b 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #e15b64;
  transform-origin: 80px 82px;
}
.loadingio-eclipse {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-rpinwye8j0b {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
/* } */
/* .ldio-rpinwye8j0b div { box-sizing: content-box; }



 */ 






/* *************************************Go to Top****************************** */

#topbtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 40%;
}

#topbtn:hover {
  background-color: rgb(148, 199, 233);
}

/**************************************Top bar *******************/
.topnav {
  overflow: hidden;
  background-color: rgb(148, 199, 233);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/**************************************Second bar *******************/

/* h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
} */

.box-element {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.product {
  border-radius: 0 0 4px 4px;
}

.bg-dark {
  background-color: #4f868c !important;
}

#cart-icon {
  width: 25px;
  display: inline-block;
  margin-left: 15px;
}

#cart-total {
  display: block;
  text-align: center;
  color: #fff;
  background-color: red;
  width: 20px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
  margin-top: 10px;
}

.btn {
  border-radius: 0;
}

.row-image {
  width: 100px;
}

.form-field {
  width: 250px;
  display: inline-block;
  padding: 5px;
}

.cart-row {
  display: flex;
  align-items: flex-stretch;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.quantity {
  display: inline-block;
  font-weight: 700;
  padding-right: 10px;
}

.chg-quantity {
  width: 12px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  transition: 0.1s;
}

.chg-quantity:hover {
  opacity: 0.6;
}

.hidden {
  display: none !important;
}

/********************************************third Nav**********************/
.navbar {
  width: 100%;
  overflow: auto;
  background-color: rgb(111, 192, 118);
}

.navbar a {
  float: left;
  padding: 12px;
  color: rgb(22, 21, 21);
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
  border: #e0ac1c;
}

.navbar a:hover {
  color: blue;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

/********************************************Carosel******************************/
.carousel {
  border-top: 1px solid black;
}
.carousel img {
  height: 50%;
  width: 100%;
}
/***************************************Alternative flex ***************************/

/******************************Products********************/
:root {
  /* --white-light: rgba(255, 255, 255, 0.871);
  --alice-blue: #f8f9fa; */
  --carribean-green: #40c9a2;
  --gray: #ededed;
}
/* Utility stylings */
.product-img img {
  width: 100%;
  display: block;
}
.container {
  width: 88vw;
  margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title {
  font-family: "Roboto", sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}
.lg-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}
.md-title {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.sm-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}
.text-light {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
}

/* product section */
.products {
  background: var(--alice-blue);
  padding: 2rem 0;
}
.products .text-light {
  text-align: center;
  width: 70%;
  margin: 0.9rem auto;
}
.product {
  margin: 2rem;
  position: relative;
}
.product-content {
  background: var(--gray);
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}
.product-img {
  background: var(--white-light);
  box-shadow: 0 0 20px 10px var(--white-light);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  transition: background 0.5s ease;
}
.product-btns {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.btn-cart,
.btn-buy {
  background: transparent;
  /* border: 1px solid black; */
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}
.btn-cart {
  background: black;
  color: white;
}
.btn-cart:hover {
  background: var(--carribean-green);
}
.btn-buy {
  background: white;
}
.btn-buy:hover {
  background: var(--carribean-green);
  color: #fff;
}
.product-info {
  background: white;
  padding: 2rem;
  border-bottom: 2px solid #d3d3d3;
}

.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating span {
  color: var(--carribean-green);
}
.product-name {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #a9a9a9;
}
.product-price {
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
  color: #a9a9a9;
}
/* .product-price:first-of-type {
  text-decoration: line-through;
  color: var(--carribean-green);
} */
.product-img img {
  transition: transform 0.6s ease;
}
.product:hover .product-img img {
  transform: scale(1.1);
}
.product:hover .product-img {
  background: var(--carribean-green);
}
.product:hover .product-btns {
  opacity: 1;
}
/* .off-info .sm-title {
  background: var(--carribean-green);
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: pointer;
} */

/* Media Queries */
@media screen and (min-width: 600px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .product-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .product {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .products .text-light {
    width: 50%;
  }
}

@media screen and (min-width: 1336px) {
  .product-items {
    grid-template-columns: repeat(4, 1fr);
  }
  .product-col-left {
    height: 121.5vh;
  }
}

/******************************Middle Image***************** */
/* .middle-image img {
  display: block;
  width: 50%;
  margin:auto;
} */

@media only screen and (max-width: 796px) {
  .middle-image {
    display: none;
  }
}

/************************************Middle Ad for Site*******************/

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding-top: 20px;
  padding-right: 22px;
  padding-left: 22px;
}
.column h6 {
  text-indent: 40px;
  text-align: justify;
  letter-spacing: 1px;
  color: #a9a9a9;
  padding-bottom: 10px;
  border-bottom: 2px solid #d3d3d3;
}
.ad-options li {
  text-decoration: none;
  font: bold;
}
.ad-options ul {
  list-style: none;
  text-decoration: none;
}
.ad-options li:hover {
  text-decoration: none;
  color: red;
}

.ad-options ul li::before {
  content: "\2022";
  color: #ffd700;
  display: inline-block;
  width: 1.1em;
  margin-left: -1em;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 10px -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.centered {
  position: static;
  top: 35%;
  left: 20%;
  text-align: center;
  padding-left: 180px;
}

.centered img {
  width: 400px;
}
.newarrival {
  font: 20px "Poppins", Helvetica, sans-serif;
}

/* Responsive columns */
@media screen and (max-width: 1200px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .centered img {
    width: 80%;
    left: 0%;
  }
  .centered {
    padding-left: 0;
  }
}

/******************************Footer***************** */

footer {
  position: static;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: rgb(148, 199, 233);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: italic 16px LetsTraceItalic, Helvetica, sans-serif;
  padding: 50px 50px 50px 50px;
  margin-top: 32px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/********************** Footer left **********************/

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px LetsTraceItalic, Helvetica, sans-serif;
  margin: 0;
}

/********************** The company logo **********************/

.footer-distributed .footer-left img {
  width: 30%;
}

.footer-distributed h3 span {
  color: #e0ac1c;
}

/********************** Footer links **********************/

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-links a:hover{
  color: #33383b;
}
.footer-distributed .footer-company-name {
  color: #dfe5ee;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/**********************Footer Center **********************/

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

/* .footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
} */

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e6c774;
  text-decoration: none;
}

/********************** Footer Right **********************/

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #e2e9f0;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/**********************Responsive Footer **********************/

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
